@model List<Hiring_and_Selection_Process_Platform.Models.Job>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jobs List";
}

<h1>Jobs List</h1>

@foreach (var job in Model)
{
    <div style="margin-bottom: 2rem;">
        <h2>@job.jobTitle</h2>
        <p><strong>Job ID:</strong> @job.jobId</p>
        <p><strong>Description:</strong> @job.jobDescription</p>
        <p><strong>Location:</strong> @job.jobLocation</p>
        <p><strong>Type:</strong> @job.jobType</p>
        <p><strong>Salary:</strong> @job.jobSalary</p>
        <p><strong>Company Name:</strong> @job.jobCompanyName</p>
        <p><strong>Requirements:</strong> @job.jobRequirements</p>
        <p><strong>Deadline:</strong> @job.deadline.ToShortDateString()</p>
        <p><strong>No. of Employees:</strong> @job.noEmployees</p>
    </div>
}
